.idea
.vscode
public
resources/_gen/
.DS_Store
*.lock
node_modules
dist
tmp
~$*
*~
*.swp
*.swo
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*/__pycache__/*
**/.DS_Store
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.py[cod]
*.so
.vscode/